<div class="slider">
    <div>
        <div (click)="goToPrevious()" class="leftArrow">❰</div>
        <div (click)="goToNext()" class="rightArrow">❱</div>
    </div>
    <div class="slide">
        <img [src]=" !!this.slides.length ? this.slides[this.currentIndex].urlToImage : '../../../assets/noImage.jpg'">
        <div class="description">
            {{!!this.slides.length && this.slides[this.currentIndex].title}}
        </div>
    </div>
    <div class="dotsContainer">
        <div *ngFor="let slide of slides; let slideIndex = index" class="dot" (click)="goToSlide(slideIndex)"
            [ngStyle]="{'color':  slideIndex==currentIndex ? 'black' : 'blue'}">
            ●
        </div>
    </div>
</div>