.header {
  width: 100%;
  height: auto;
  background-color: #0971cf;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.upside-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
  font-size: 2rem;
  padding: 10px;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  font-size: 1.1rem;
  gap: 20px;
}

.downside-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
  background-color: #015aac;
}

ul {
  margin: auto;
}

a {
  color: #fff;
  transform: scaleX(0);
  text-decoration: none;
  font-size: 1rem;
}

.name {
  list-style-type: none;
  font-size: 1.4rem;
}

.links a:hover {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.hamburgerMenu {
  visibility: hidden;
}

.activeTab {
  transform: scale(1.2);
  text-decoration: underline;
}

@media (max-width: 850px) {
  .hamburgerMenu {
    visibility: initial;
  }
  .navbar-nav {
    display: none;
    flex-direction: column;
  }
}

@media (min-width: 851px) {
  .hamburgerMenu {
    visibility: none;
  }
  .navbar-nav {
    display: flex;
  }
}
