.categoriesContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.selectCategory {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 5px;
  width: 20%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: first baseline;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  margin-top: 10px;
}

.categoriesTitle {
  text-decoration: underline;
}

.listCategory {
  align-self: center;
}

.checkboxes {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}

.outerListContainer {
  width: 100%;
}
