<div class="about">
  <div class="about-header">
    <img
      src="../../../assets/profile.jpg"
      alt=""
      width="150"
      height="150"
      class="profileImg"
    />
    <div class="header-infos">
      <h1>Ömer Faruk ÇİÇEK</h1>
      <h3>Frontend Developer</h3>
      <div class="header-links">
        <a href="https://github.com/Omer-Cicek">
          <i class="icon-github"></i>https://github.com/Omer-Cicek</a
        >
        <a href="https://www.linkedin.com/in/omercicek97/"
          ><i class="icon-linkedin"></i>linkedin.com/in/omercicek97</a
        >
        <a href="mailto:omercicek160408@gmail.com"
          ><i class="icon-envelope"></i>omercicek160408@gmail.com</a
        >
        <a><i class="icon-phone"></i>05510517264</a> <br />
        <a><i class="icon-map-marker"></i>17100, Çanakkale, Turkey</a>
        <a><i class="icon-calendar"></i>03 April 1997</a>
        <a><i class="icon-flag"></i>Turkey</a>
      </div>
    </div>
  </div>

  <div class="content-profile">
    <h5 class="content-title">Profile</h5>
    <p class="content-profile-text">
      Curious Front-End Developer, interested in coding, skilled at developing
      complex solutions, possessing strong creative thinking skills, high energy
      and integrity. Have the ability to create algorithms effectively, interact
      positively and communicate appropriately with team members. A quick
      learner of new technologies and concepts to develop innovative and
      creative solutions to problems. Always eager to learn various
      technologies, tools and libraries. Especially interested in JavaScript,
      Typescriptspecialized in React.js and Vue.js. Team player, problem solver.
    </p>
    <br />
    <h5 class="content-title">Skills</h5>
    <ul class="skillsContent">
      <li>HTML</li>
      <li>Css</li>
      <li>Javascript</li>
      <li>Typescript</li>
      <li>React-Redux-Context</li>
      <li>Vue-Vuex-Vuexy</li>
      <li>Git-Github-Gitlab</li>
      <!-- <span>Bootstrap-Sass-MaterialUI-TailwindCss</span> -->
    </ul>
    <h5 class="content-title">Professional Experience</h5>
    <div class="experienceContent">
      <div class="experienceHeader">
        <h6>Frontend Developer,<i>Fintech Yazılım Hizmetleri</i></h6>
        <h6>June 2022 - June 2023 (Sakarya)</h6>
      </div>
      <ul class="experienceDetail">
        <li>
          Designed multiple dynamic and browser compatible pages using HTML5,
          CSS3, Javascript (Vue, Vuex, React-Typescript)
        </li>
        <li>
          Designing and developing dashboards and user interfaces with AgGrid
        </li>
        <li>
          Collaborated with the team to design new featuresfor our web
          application
        </li>
        <li>Created reusable components</li>
        <li>
          Expanded reach of the website by building RESTful API to support user
          replies and notifications.
        </li>
      </ul>
    </div>
    <h5 class="content-title">Projects</h5>
    <ul class="projectsContent">
      <li>
        <a href="https://omer-cicek.github.io/rest-countries-api/"
          >Rest Countries Project</a
        >
      </li>
    </ul>
    <h5 class="content-title">Education</h5>
    <div class="educationContent">
      <h6>Civil Engineering,<i>Çanakkale Onsekiz Mart University</i></h6>
      <span>Sep 2016 - June 2021</span>
    </div>
    <h5 class="content-title">Education</h5>
    <div class="languagesContainer">
      <ul class="languagesContent">
        <li class="align-left">
          <b> Turkish </b>
          <br />
          Native
        </li>
      </ul>
      <ul class="languagesContent">
        <li class="align-left">
          <b> English </b>
          <br />
          Professional Working Proficiency
        </li>
      </ul>
    </div>
    <h5 class="content-title">Education</h5>
    <div class="educationContent">
        <span>Coding</span>
        <span>Playing Computer Games</span>
        <span>Riding Motocycle</span>
    </div>
  </div>
</div>
