.global {
  max-width: 1400px;
  width: 100%;
  margin: auto;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
}

.spinner {
  width: 100%;
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 766px) {
  .global {
    width: 100%;
  }
}
