.paginationContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.paginationNums {
  padding: 10px;
  cursor: pointer;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginationNums:hover {
  color: blue;
  transform: scale(1.3);
}

.arrows {
  cursor: pointer;
  margin: 10px;
}
.arrows:hover {
  color: blue;
  transform: scale(1.3);
}
