<div
  *ngIf="!isLoading && !showError"
  class="slider"
  style="width: 70%; height: 350px; margin: 15px auto"
>
  <app-image-slider
    [slides]="slides"
    *ngIf="!isLoading && !showError"
  ></app-image-slider>
</div>

<div class="homeContainer" *ngFor="let new of news; let i = index">
  <app-news-card [newsData]="new" *ngIf="!isLoading && !showError">
  </app-news-card>
</div>
<div class="spinner">
  <img
    src="../../../assets//spinner.gif"
    *ngIf="isLoading"
    alt="spinner"
    width="100"
    height="100"
  />
</div>
<app-pagination
  *ngIf="!isLoading && !showError"
  [newsCount]="newsCount"
  (parentFunction)="pageChanged($event)"
></app-pagination>

<app-error *ngIf="showError"> </app-error>
