@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

.spinner {
  width: 100%;
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  body {
    padding: 0px;
  }
}
